<ul class="navbar">
    <li class="navbar-item"><a href="/" style="padding: 0px;"><img class="logo" src="static/mathclub.png"></a></li>
    <li class="navbar-item"><a href=""> About </a></li>
    <li class="navbar-item"><a href=""> Blog </a></li>
    <li class="navbar-item"><a href=""> Courses </a></li>
    <li class="navbar-item"><a href=""> Forums </a></li>
    <li class="navbar-item"><a href="/problem-dispenser"> Problem Dispenser </a></li>
    <li class="navbar-item">
        <div class="dropdown">
            <a href=""> Resources </a>
            <div class="dropdown-content">
                <a href="/problem-dispenser">Problem Dispenser</a>
            </div>
        </div>
    </li>
    {% if login_cookie is none %}
    <li class="navbar-item"  style="float:right"><a href="/login"> Login </a></li>
    {% else %}
    <li class="navbar-item" style="float:right">
        <div class="dropdown">
            <img class="discord-avatar" src="https://cdn.discordapp.com/avatars/{{user['id']}}/{{user['avatar']}}.png">
            <a style="float: right; padding-left: 0px;">{{user['username']}}</a>
            <div class="dropdown-content"style="margin-top: 51px;right: 14px;">
                <a href="/settings">Settings</a>
                <a href="/logout"> Logout</a>
            </div>
        </div>
    </li>
    {% endif %}
</ul>